<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <div id="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/aboutme">About Me</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <div>
        <img src="/images/suafromk.jpg" alt="logo" style="width:40px;margin-right:40px;">
      </div>
    
    </div>
  </head>

  
  