 <!--COMP229.006.F23 Sua Cha 301271420 2023-10-07-->

<% include partials/header.ejs %>

<!-- Section about me -->
<header>
  <div id="logo-container">
    <img src="/images/suabio.jpg" class="profile-picture" alt="Profile Picture">
    <h1>Sua Cha</h1>
    <p>Software Engineer</p>
  </div>
</header>

<main>

  <section>
    <a href="https://centennialcollegeedu-my.sharepoint.com/:b:/g/personal/scha8_my_centennialcollege_ca/EcDWjDko12BFhyr-VQW0m2cBCRUBA2ESMK5Y-ubNK-A96Q?e=PDaqUt"  target="_blank">Click here to see my resume</a>
    <h2>Who Am I?</h2>
    <p>
      I'm Sua Cha, your friendly neighborhood software engineering enthusiast. By day, I'm a code wizard, and by night, I'm a caffeine-fueled problem solver. My mission: to turn coffee into code and make the digital world a better (and funnier) place, one line at a time!
    </p>
  </section>

  <section>
    <h2>My Skills</h2>
    <ul>
      <li>Web Development</li>
      <li>Graphic Design</li>
      <li>Problem Solving</li>
      <li>Agile-trained</li>
        <li>Excellent communication skills</li>
      <!-- Add your skills here -->
    </ul>
  </section>

  <section>
    <h2>Contact Information</h2>
    <p>
      Feel free to contact me at <a href="mailto:chasua.gg@gmail.com">chasua.gg@gmail.com</a>. You can also find me on <a href="https://linkedin.com/in/suacha">LinkedIn</a>.
    </p>
  </section>
</main>
<br><br><br><br><br>


<% include partials/footer.ejs %>
