<% include partials/header.ejs %>


<header>
  <div id="logo-container">
    <img src="/images/suabio.jpg" class="profile-picture" alt="Profile Picture">
    <h1>Sua Cha</h1>
    <p>Software Engineer</p>
  </div>
</header>

<main>
  <section>
    <h2>Who Am I?</h2>
    <p>
      I'm [Your Name], a passionate [Your Profession] based in [Your Location]. I love [Your Interests/Hobbies] and enjoy [Any Other Relevant Information].
    </p>
  </section>

  <section>
    <h2>My Skills</h2>
    <ul>
      <li>Web Development</li>
      <li>Graphic Design</li>
      <li>Problem Solving</li>
      <!-- Add your skills here -->
    </ul>
  </section>

  <section>
    <h2>Contact Information</h2>
    <p>
      Feel free to contact me at <a href="mailto:your.email@example.com">your.email@example.com</a>. You can also find me on <a href="https://linkedin.com/in/yourprofile">LinkedIn</a>.
    </p>
  </section>
</main>
<br><br><br><br><br>
<!-- <footer>
  <p>Copyright © 2023 Your Name</p>
</footer> -->

<% include partials/footer.ejs %>
