<% include partials/header.ejs %>


    <!-- <h1><%= title %></h1> -->
<br><br><br>
    <div id="logo-containerindex">
        <img src="/images/suafromk.png" alt="logo">
        <span>AHJU MISSION HERE</span>
      </div>


<% include partials/footer.ejs %>