 <!--COMP229.006.F23 Sua Cha 301271420 2023-10-07-->
<% include partials/header.ejs %>


  <!-- <h1><%= title %></h1> -->
  <br><br><br>

  <!-- Main page with mission and welcome message -->
  <section class="home-content">
    <div class="left-section">
      <img src="/images/suafromk.jpg" alt="Profile Picture">
    </div>
    <div class="right-section">
      <h1>Welcome to Sua’s Creative Showcase!</h1>
      <p>
        Step into my world of imagination, where pixels and code come together to craft digital experiences that inspire
        and captivate. I'm Sua Cha, a passionate Software Engineering with a flair for Artificial Intelligence and this
        is my digital canvas.<br><br>

        Here, you'll discover a collection of my finest work, a fusion of creativity and innovation.
        Each project is a testament to my dedication to excellence.<br><br>

        Feel free to explore, get inspired, and don't hesitate to get in touch.
        Whether you're here for inspiration, collaboration, or simply to admire the art of digital craftsmanship, I'm
        thrilled to have you on this journey with me.<br><br>

        Thank you for stopping by, and I hope you enjoy your stay.<br><br>
        Let's create something extraordinary together!
      </p>
<br><br>
      <h1>Mission state</h1>
      <h2>Unleashing Code, Forging Futures</h2>






      <p>My mission is clear: to disrupt, dissect, and decode the world of software engineering.<br>

        I am not here to follow trends; I am here to set them ablaze. In a realm where algorithms reign supreme, I
        carve my own path.<br>
        From crafting software that challenges the status quo to engineering solutions that defy gravity,
        my work is an audacious journey into the heart of the unconventional.<br>
        I don't code for conformity; I code for a revolution.</p>


    </div>
  </section>
  <br><br><br><br><br><br>



  <% include partials/footer.ejs %>