<!-- COMP229.006.F23 Sua Cha 301271420 2023-10-07 -->
<% include partials/header.ejs %>

  <header>
    <div id="logo-container">
      <!-- <img src="/images/suafromk.png" alt="Profile Picture"> -->
      <h1>
        <%= title %>
      </h1>

    </div>
  </header>
  <main>

    <!-- List of the projects -->
    <section class="project">

      <section class="home-content">

        <div class="left-section">
          <img src="/images/Programming.jpg" alt="Project 1 Image">
        </div>
        <div class="right-section">
          <h2>Project 1: Student Record Management System</h2>
          <p>
            The Student Record Management System is a console application project due on April 16th, 2023, where a class named "Student" is created with properties for Name, ID, and GPA. The system loads data from a text file, displaying a menu offering options to add new students, display all students, search by name or ID, delete students, and show summary statistics. The implementation involves prompting users for input, creating Student objects, managing a list of students, and providing functionality for searching, deleting, and summarizing student records. The objective is to create an efficient and user-friendly system for managing and analyzing student data stored in a text file.
          </p>
        </div>
      </section>
    </section>

    <section class="project">
      <section class="home-content">
        <div class="left-section">
          <img src="/images/Cat.jpg" alt="Project 1 Image">
        </div>
        <div class="right-section">
          <h2>Project 2: Cat gallery using API</h2>
          <p>
            developed a program that integrates The Cat API, leveraging its Sign-Up feature to obtain a personal API KEY. The application primarily focuses on three key functionalities. Firstly, it allocates 10% of the grade to the process of signing up and obtaining the API KEY. Next, it utilizes the Category API (40% of the grade) to dynamically populate a dropdown menu with available cat categories. Lastly, the program implements the Search API (50% of the grade) to fetch and display nine cat images within a gallery based on the user's selected category. This comprehensive solution ensures a seamless and visually engaging experience for users exploring cat images through the designated API services.
          </p>
        </div>
      </section>
    </section>


    <section class="project">
      <section class="home-content">
        <div class="left-section">
          <img src="/images/Data.jpg" alt="Project 1 Image">
        </div>
        <div class="right-section">
          <h2>Project 3: Designing a database for Beauty and Cosmetic Products Web Site
          </h2>
          <p>
            designed a comprehensive database to showcase a variety of beauty products. Each product features essential details such as name, price, description, quantity, and average rating points. The product categorization system includes both main categories and subcategories for a structured inventory. Brands associated with the products provide customer service contact information. Customers can easily filter products based on their purpose and skin type. The customer database includes email, phone number, birthday, and multiple addresses. To enhance the shopping experience, customers can maintain multiple shopping carts, each capable of holding various products. Exclusive discounts are linked to individual products, each with a specific validity period. Customers can make informed decisions by accessing product reviews directly on the detailed product pages. Overall, this project aims to create a user-friendly and organized platform for beauty enthusiasts.
          </p>
        </div>
      </section>
    </section>


  </main>

  <% include partials/footer.ejs %>