<% include partials/header.ejs %>
<br><br><br><br><br><br>
<main>
  <section class="project">
    <h2>Project 1: Awesome Web App</h2>
    <img src="project1.jpg" alt="Project 1 Image">
    <p>
      This is an awesome web app that I developed. It features a sleek user interface and advanced functionalities.
    </p>
  </section>

  <section class="project">
    <h2>Project 2: Mobile App Development</h2>
    <img src="project2.jpg" alt="Project 2 Image">
    <p>
      I worked on a mobile app project that involved creating a cross-platform application using React Native. The app is designed for both iOS and Android platforms.
    </p>
  </section>
</main>

<% include partials/footer.ejs %>