 <!-- Sua Cha 301271420   -->
<% include partials/header.ejs %>

<header>
    <div id="logo-container">
        <!-- <img src="/images/suafromk.png" alt="Profile Picture"> -->
        <h1>
            <%= title %>
        </h1>

    </div>
</header>
<!-- <h1></h1>
<p> P H O N E : </p> -->

<main>
    <section>
        <h2>C# Development</h2>
        <ul>
            <li>Desktop Application Development</li>
            <li>Web Application Development</li>
            <li>API Development</li>
            <li>ASP.NET Core Development</li>
            <li>Windows Services</li>
        </ul>
    </section>

    <section>
        <h2>SQL Database Services</h2>
        <ul>
            <li>Database Design and Modeling</li>
            <li>SQL Query Optimization</li>
            <li>Stored Procedure Development</li>
            <li>Database Performance Tuning</li>
            <li>Data Migration and Integration</li>
        </ul>
    </section>

    <section>
        <h2>React Development</h2>
        <ul>
            <li>Single Page Application (SPA) Development</li>
            <li>React Component Development</li>
            <li>State Management with Redux</li>
            <li>React Router Implementation</li>
            <li>Integration with RESTful APIs</li>
        </ul>
    </section>

    <section>
        <h2>Linux Services</h2>
        <ul>
            <li>Server Configuration and Administration</li>
            <li>Shell Scripting</li>
            <li>Linux Security Implementation</li>
            <li>Performance Monitoring and Optimization</li>
            <li>Containerization with Docker</li>
        </ul>
    </section>
  
  </main>
<% include partials/footer.ejs %>